.container-general-advice{
  width: 1fr;
  margin: 10px ;
  border: 1px solid grey;
  /* height: 100vh; */
  border-radius: 5px;
  padding: 20px;
}

.category-btn {
  width: 20%;
  height: 30px;
  margin-top: 10px;
  border-radius: 50px;
  background: linear-gradient(90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin: 15px;
}

.category-btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%);
  transition: all 1.4s ease-out;
}


.btnHelpSection{
  display: flex;
  justify-content: center;
}
