
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0,0.4)), url("../../imgHome.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  width: 120px;
  position: absolute;
  top: 2%;
  left: 4%;
  border-radius: 5px;



}

.banner-text {
  text-align: center;
  color: rgb(243, 238, 238);
  padding-top: 120px;
}


.banner-text h1 {
  font-size: 80px;
  color: #fff;
}

.banner-text p {
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

/********* responsive design banner*********/

@media screen and (max-width: 750px) {
  .banner-text {
    text-align: center;
    color: rgb(243, 238, 238);
    padding-top: 220px;
  }

  .banner-text h1 {
    font-size: 32px;
  }
  .banner-text p {
    font-size: 15px;
    width: 250px;
  }

 .btnSignup{
    display: block;
    margin: 12px auto;
    color: red;
  }
  .banner-btn{
    margin-top: 20%;

  }
}
