.messagesSection
{
    border: 1px grey solid;
    overflow-y: scroll; 
    height:40vh;
    display: flex;
    flex-direction: column-reverse;
}



.HaziMessage
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.hazi
{
    display: flex;
    justify-content: center;
}

.haziImg
{
    height:40vh
}
