.messagesSection
{
    border: 1px grey solid;
    border-radius: 5px;
    overflow-y: scroll; 
    height:400px;

    display: flex;
    flex-direction: column-reverse;
}

.HaziMessage
{
    margin-top: 5px;
    margin-bottom: 5px;
}